html {
  background-color: darkgreen;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  margin: 250px auto;
  padding: 25px 75px;
  border-radius: 10px;
}

h1,
h2 {
  color: rgb(99, 41, 8);
}

h1,
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: maroon;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
